# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage



# misc
/dist
/build
/app/src
/temp

.DS_Store
.env
pages.json
cookies.json

*.log*
